@model GloomyCollector.ViewModels.GloomyCollector.ViewModels.AddGloomyViewModel;


<h1>Add a Gloomy Bear</h1>

<form asp-controller="Gloomies" asp-action="Add" method="post">
    <div class="form-group">
        <label name="serialNumber">Serial Number:</label>
        <input name="serialNumber" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" type="text" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label name="year">Year:</label>
        <input name="year" type="text" />
    </div>
    <div class="form-group">
        <label name="imageData">Image Data:</label>
        <input name="imageData" type="text" />
    </div>
    <input type="submit" value="Add Gloomy" />

</form>