<h1>Add a Gloomy Bear</h1>

<form asp-controller="Gloomies" asp-action="Add" method="post">
    <label for="serialNumber">Serial Number:</label><input name="serialNumber" type="text" />
    <label for="name">Name:</label><input name="name" type="text" />
    <label for="year">Year:</label><input name="year" type="text" />
    <label for="imageData">Image Data:</label><input name="imageData" type="text" />
    <input type="submit" value="Add Gloomy" />

</form>