@model GloomyCollector.ViewModels.GloomyDetailViewModel


<h1>@Model.Name</h1>

<img class="aboutImage" src="~/@Model.ImageData" />

<div class="aboutInfo">
    <p>Name: @Model.Name</p>
    <p>Serial Number: @Model.SerialNumber</p>
    <p>Year: @Model.Year</p>
</div>
