<h1>Add a Gloomy Bear</h1>

<form method="post">
    Serial Number: <input name="serialNumber" type="text" />
    @**<input name="name" type="text" />
    <input name="year" type="text" />
    <input name="imageData" type="text"/>*@
    <input type="submit" value="Add Gloomy" />

</form>