@**<header><link rel="'stylesheet" type="text/css" href="~/css/custom.css" /></header>
@*this will change if user is logged in in the future*@

<h1>Hello Gloomy Collector</h1>


<p>
    <a asp-controller="Home" asp-action="Add">Add Gloomy</a>
</p>

@** Add (this will be dependent on admin privileges)*@

@*@Table with ViewAll*@
@if (ViewBag.gloomies.Count == 0)
{
    <p>No Gloomies yet!</p>
}
else
{
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Serial Number
        </th>
        <th>
            Year
        </th>
    </tr>
    @foreach (Gloomy gloomie in ViewBag.gloomies)
    {
        <tr>
            <td>@gloomie.Name</td>
            <td>@gloomie.SerialNumber</td>
            <td>@gloomie.Year</td>
        </tr>
    }
</table>}
@*Form*@

<div>
    <p>Did we miss a Gloomy? Fill out this form to help us keep our database full!</p>
<form class="submitForm">
    Name:<input type='text' name='uName' />
    Serial Number:<input type='text' name="uSerial" />
    Year:<input type="text" name="uYear" />
    Extra Details:<input type="text" name="uExtra" />
    <input type="submit"/>
</form>
</div>

@**<partial name="/Views/Shared/_LinkListPartial.cshtml" />
<partial name="/Views/Shared/_ThankYouPartial.cshtml"/>*@
