<link rel="stylesheet" href="~/css/site.css" />

<div>
    <p class="thankYou">Special thank you to Mori Chack for creating Gloomy Bear for us all to enjoy, to ___ ___ for gathering so much Gloomy Bear information, and to all of the Gloomy Bear collectors that make the community so wonderful.</p>
</div>
